<html>
    <head>
        <title>
            API documentation
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
        <link class="codestyle" rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atelier-dune.light.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
        
        <script>
            hljs.initHighlightingOnLoad();
            $(document).ready(function(){
                $('.all-endpoints').hide();
            });
            function hideShow(instance){
                var dom = $(instance).parent().parent().find('.all-endpoints');
                dom.toggle();
                if(dom.is(":hidden"))
                {
                    console.log('hidden')
                    $(instance).text('show');
                    return ;
                }
                $(instance).text('hide');

            }
        </script>
        <style>
            body {
                width: 100%;
                padding: 0 0 0 0;
                margin: 0 0 0 0 0;
                
            }
            #content {
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                
            }
            #banerMain {
                text-align: center;
                font-family: "Poiret One", sans-serif;
                font-size: 2em;
                padding-bottom: 10px;
                
            } 
            .resource {

                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-right: 1px dotted #f0e0ca;
                border-left: 1px dotted #f0e0ca;
                border-bottom: 1px dotted #f0e0ca;
            }
            #name span {
                position: absolute;
                left: 50%;
                
            }
            #name #toogle {
                margin-left: 40%;
                display: inline-block;
            }
            .resource #name {
                width: 100%;
                text-align: right;
                background-color: #f9f2e9;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-top: 1px solid #f0e0ca;
                border-left: 1px solid #f0e0ca;
                border-right:1px solid #f0e0ca;
                font-family: 'Muli', sans-serif;
                display: block;
            }
            
            .all-endpoints{
                display: block;
                width: 100%;
            }
            .endpoint {
                width: 100%;
                margin: 0 0 0 0;
                display: block;
                padding: 0 0 0 0;
            }
            .info-primary {
                background-color: #e7f6ec;
                display: block;
                margin: 0 0 0 0;
                border:1px solid #c3e8d1
            }
            .info-primary #method {
                text-transform: uppercase;
                padding-top: 5;
                padding-bottom: 2;
                padding-right: 6;
                padding-left: 6;
                font-family: 'Muli', sans-serif;
                font-size: 14;
                border-radius: 2px;
                text-align: center;
                display: inline-block;
                height: 14pt;
                width: 30pt;
                color: #ffffff;
                background-color: #7FDBDF;
            }
            .info-primary #path {
                padding-top: 5;
                padding-bottom: 2;
                padding-right: 6;
                padding-left: 6;
                font-family: 'Muli', sans-serif;
                
                font-size: 13;
                border-radius: 2px;
                text-align: left;
                display: inline-block;
                height: 14pt;
                color: #000000;

            }
            .info-secondary{
                font-family: 'Quicksand', sans-serif;
                margin-left: auto;
                margin-right: auto;
                max-width: 95%;
            }
            .input span {

            }
            .bold {

                font-weight: bold;
            }
            .output span {

                
            }
            .field #name-input {
                font-weight: bold;
                color: #d73737;
            }
            .btn {
                font-family: Arial;
                color: #ffffff;
                font-size: 14px;
                background: #3ca9fc;
                padding: 10px 25px 5px 25px;
                text-decoration: none;
                outline: 0;
                border: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                margin: 0 0 0 0;
            }

            .btn:hover {
                border: 0;
                background: #4fcfc4;
                outline: 0;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div id="banerMain"> API DOCUMENTATION</div>
        <div id="content">
            <% for (var name in docs){%>
            <% var endpoints = docs[name];%>
             <div class="resource">
                   <div id="name">  <span ><%= name[0].toUpperCase() + name.slice(1)%></span><button type="button" id="toggle" onclick="hideShow(this)" class="btn">show</button></div>

                 <div class="all-endpoints">
                    <% for( var index in endpoints){%>
                    <% var endpoint = endpoints[index];%>
                    <div class="endpoint">
                              <div class="info-primary">
                                  <span id="method"><%= endpoint.method%></span>
                                  <span id="path"><%= endpoint.path%></span>
                              </div>
                              <div class="info-secondary">
                                  <p><%=endpoint.description%></p>
                                  <br>
                                  <div class="input">
                                      <span style="font-weight: bold">Request Parameters:</span>
                                      
                                      <div class="field">
                                          <% for (var index2 in  endpoint.input){%>
                                          <% var input = endpoint.input[index2];%>
                                          <br>
                                          <li id="name-input">
                                          <span id="name-input"><%=input.field%></span>
                                          <pre><code class="JSON"><%=JSON.stringify(input.schema,null,2)%></code></pre>
                                          </li>
                                          <% }%>
                                      </div>
                                      <p></p>
                                  </div>
                                  <br>
                                  <div class="output">
                                      <span class="bold">Response: </span>
<pre><code class="HTTP">
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
Content-Length: <%=JSON.stringify(endpoint.output, null, 3).length%>

<%=JSON.stringify(endpoint.output, null, 3)%>
</code></pre>
                                      <p></p>
                                  </div>
                              </div>
                     </div>
                     <br>
                     <%}%>
                    </div>
               </div>
            <%}%>
       </div>
    </body>    
</html>